{% extends "base.html" %}
{% block content %}


 	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" crossorigin="">
   <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" crossorigin="">
   <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js" crossorigin=""></script>
   <script src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
   <style>
   	#mapid { height: 700px; }
    .scrollable {
        max-height: 500px;
        overflow-y: auto;
    }
    .card-fixedsize {
      height: 500px;
    }
   </style>
   <script>
       L_PREFER_CANVAS = true; // experimental
   </script>

<div class="container-fluid mt-2">
  <p>Total networks: {{ ap_count }} // {{ filtered_ap_count }} geolocated ({% widthratio filtered_ap_count ap_count 100 %}%) // {{ unprocessed_ap_count }} unprocessed ({% widthratio unprocessed_ap_count ap_count 100 %}%) // <a href="#" onclick="toggleLocation(); return false;">Toggle location marker</a> // <a href="#" onclick="centerMapLocation(); return false;">Move map to my location</a></p>

	

	<div id="mapid"></div>

</div>
<div class="container mt-3">


<div class="row">
  <div class="col-4 mb-3">
    <div class="card">
      <div class="card-header lead">
        Leaderboards
      </div>
      <div class="card-body card-fixedsize">
        <table class="table">
          <tbody>
            {% for user in leaderboards %}
              <tr>
                <td>{{ user.user }}</td>
                <td>{{ user.wifiimport__accesspoint__count }} ({% widthratio user.wifiimport__accesspoint__count ap_count 100 %}%)</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4 mb-3">
    <div class="card">
      <div class="card-header lead">
        Providers
      </div>
      <div class="card-body card-fixedsize">
        <table class="table">
          <tbody>
            {% for provider in provider_list %}
            <tr>
              <td>{{ provider.provider }}</td>
              <td>{{ provider.ap_count }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4 mb-3">
    <div class="card">
      <div class="card-header lead">
        Networks (<span id="networkCount">0</span> results)
      </div>
      <div class="card-body scrollable">
        <table class="table" id="networkTable">
          <thead>
            <tr>
              <td><a href="{% url 'export' %}">Export data</a></td>
            </tr>
            <tr>
              <div class="row">
                <div class="col-auto">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInput">
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-primary" onclick="onFilterPress()">Filter</button>
                </div>
            </tr>
          </thead>
          <tbody id="networkList">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

    <script type="text/javascript">
      //map creation
      var mymap = L.map('mapid').setView([50.0755, 14.4378], 13);
      var markerLayers = [];
      var layerControl;

      //grouping access points
      var cluster = L.markerClusterGroup({
        maxClusterRadius: 250,
        removeOutsideVisibleBounds: true,
        spiderifyOnMaxZoom: false,
        disableClusteringAtZoom: 16,
        chunkedLoading: true
      });

      //access points
      var allAccessPoints;

      $.getJSON('{% url 'data_wifi_list_json' %}', function(accessPoints) {
        allAccessPoints = accessPoints;

        loadAPList(accessPoints, true);
      });

      //map types
      var streets = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibjN0dHgiLCJhIjoiY2thdjV6ZHk0MDhtazMzcGNoYTl1cHUwYyJ9.zah7JmDF59WE2UQOcdq98w', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
      }).addTo(mymap);
      var satellite = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibjN0dHgiLCJhIjoiY2thdjV6ZHk0MDhtazMzcGNoYTl1cHUwYyJ9.zah7JmDF59WE2UQOcdq98w', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/satellite-streets-v11',
        tileSize: 512,
        zoomOffset: -1,
      })
      var dark = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibjN0dHgiLCJhIjoiY2thdjV6ZHk0MDhtazMzcGNoYTl1cHUwYyJ9.zah7JmDF59WE2UQOcdq98w', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/dark-v10',
        tileSize: 512,
        zoomOffset: -1,
      })

      mymap.addLayer(cluster);

      var baseLayers = {
        "Streets": streets,
        "Satellite": satellite,
        "Dark": dark,
      };
      var layerControl = L.control.layers(baseLayers, {});
      layerControl.addTo(mymap);

      //geolocation (you are here marker)
      var locationOptions = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
      };
      var locationMarker;
      var coords;

      //listening for changes
      const searchInput = document.getElementById('searchInput');

      const inputHandler = function(e) {
        console.log(e.target.value);

        var compared = e.target.value.toLowerCase();

        loadAPList(allAccessPoints.filter(
          ap => ap.SSID.toLowerCase().includes(compared) || ap.password.toLowerCase().includes(compared) || ap.MAC.toLowerCase().includes(compared)
        ), false);
      }

      //TODO: fix the performance of this
      searchInput.addEventListener('input', inputHandler);

      function onInitialLocationSuccess(pos) {
        coords = pos.coords
        addLocationMarker(coords)
        navigator.geolocation.watchPosition(onLocationUpdate, onLocationError, locationOptions);
      }

      function addLocationMarker(coords){
        locationMarker = L.marker([coords.latitude, coords.longitude]).addTo(mymap);
        locationMarker.bindPopup('<p>You are here!<br><a id="hideLocationMarkerLink" href="#" onclick="toggleLocation();return false;">Hide marker</a></p>');
      }

      function onLocationError(err){
        console.warn(`ERROR(${err.code}): ${err.message}`);
      }

      function toggleLocation(){
        if(mymap.hasLayer(locationMarker)){
          mymap.removeLayer(locationMarker);
        }else{
          if(typeof coords === 'undefined')
            navigator.geolocation.getCurrentPosition(onInitialLocationSuccess, onLocationError, locationOptions);
          else
            addLocationMarker(coords)
        }
      }

      function onLocationUpdate(pos){
        coords = pos.coords
        if(mymap.hasLayer(locationMarker))
          locationMarker.setLatLng([pos.coords.latitude, pos.coords.longitude]);
      }

      function centerMapLocation(){
        navigator.geolocation.getCurrentPosition(onCenterLocationSuccess, onLocationError, locationOptions);
      }

      function onCenterLocationSuccess(pos){
        mymap.panTo([pos.coords.latitude, pos.coords.longitude]);
        if(!mymap.hasLayer(locationMarker)){
          onInitialLocationSuccess(pos);
        }
      }

      function onFilterPress(){
        var compared = searchInput.value.toLowerCase();

        loadAPList(allAccessPoints.filter(
          ap => ap.SSID.toLowerCase().includes(compared) || ap.password.toLowerCase().includes(compared) || ap.MAC.toLowerCase().includes(compared)
        ), true);
      }

      function loadAPList(accessPoints, refreshMap){
        var startTime = Date.now()
        console.log(`start ${startTime}`)

        //if (markerLayers !== undefined) mymap.removeLayer(markerLayers);
        $('#networkList').remove();
        var removedTime = Date.now()
        console.log(`removed ${removedTime - startTime}`)
        $('#networkTable').append('<tbody id="networkList"></tbody>');

        var apGroups = {};
        var tableString = "";
        var tableCount = 0;
        //if(!refreshMap) accessPoints = accessPoints.slice(0, 100);
        $('#networkCount').html(accessPoints.length)

        accessPoints.forEach((entry) => {
          if(refreshMap) {
            var marker = L.circleMarker([entry.position[0], entry.position[1]]);
            marker.bindPopup(`<b>SSID:</b> ${entry.SSID}<br><b>BSSID:</b> ${entry.MAC}<br><b>Password:</b> ${entry.password}</b><br><b>Added on:</b> ${entry.timestamp}<br><b>Found by:</b> ${entry.author}<br><a href="https://wigle.net/search?netid=${entry.MAC}">More info...</a>`)//.openPopup();
            marker.setStyle({color: `#${entry.marker_color}`});
            if(typeof apGroups[entry.author] === 'undefined')
              apGroups[entry.author] = [];
            apGroups[entry.author].push(marker);
          }

          if(tableCount < 100) tableString += `<tr><td><b>${entry.SSID}</b> (${entry.MAC})<br>${entry.password}</td></tr>`;
          tableCount++;
        });

        if(tableCount >= 100) tableString += `<tr><td>Too many results...</td></tr>`;

        console.log(`array built ${Date.now() - startTime}`)
        $('#networkList').append(tableString);

        var midTime = Date.now()
        console.log(`Table append ${midTime - startTime}`)

        //exit the function if we're not refreshing the map
        if(!refreshMap) return;
        //adding the access point cluster onto the map
        for (const markerLayer in markerLayers) {
          if(layerControl !== undefined) layerControl.removeLayer(markerLayers[markerLayer]);
          mymap.removeLayer(markerLayers[markerLayer]);
        }

        //var overlays = {};
        for (const apGroup in apGroups) {
          var mySubGroup = L.featureGroup.subGroup(cluster, apGroups[apGroup]);
          layerControl.addOverlay(mySubGroup, apGroup)
          //overlays[apGroup] = mySubGroup;
          markerLayers.push(mySubGroup);
          mymap.addLayer(mySubGroup);
        }

        console.log(`${Date.now() - midTime} (${Date.now() - startTime})`)
      }
   </script>
</div>
{% endblock %}