body {
  background: #e2e1e0;
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
}

a:hover {
  color: #E0E2E2;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box {
  background: #fff;
  border-radius: 2px;
  padding: 10px;
}

.login {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.style1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.success {
  background: #A1FF74;
}

.error {
  background: #FF8C74;
  max-width: 30%;
}

.leaderboardsTable {
  width: 100%;
  overflow: auto;
}

.leaderboardsTable tr th {
  border-bottom: 1px solid black;
}